<mat-toolbar color="primary" class="button">
  <div class="footer-content">
    <span>&copy; 2023 NewsPlaza. All rights reserved.</span>
    <div class="social-media-links">
      <a href="https://www.facebook.com" target="_blank" class="social-link">
        <img src="../../assets/facebook-logo.png" alt="Facebook" />
      </a>
      <a href="https://www.instagram.com" target="_blank" class="social-link">
        <img src="../../assets/instagram-logo.png" alt="Instagram" />
      </a>
      <a href="https://www.linkedin.com" target="_blank" class="social-link">
        <img src="../../assets/linkedin-logo.png" alt="Linkedin" />
      </a>
    </div>
  </div>
</mat-toolbar>
